<form class="form-horizontal" role="form">
  <legend>Ajouter adresse</legend>
  <div class='form-group'>
    <label for='numero'>Numero: </label>
    <input type='text' class='form-control' ng-model='adresse.numero' id='numero' required />
  </div>
  <div class='form-group'>
    <label for='rue'>Rue: </label>
    <input type='text' class='form-control' ng-model='adresse.rue' id='rue' required />
  </div>
  <div class='form-group'>
    <label for='cp'>Code Postal: </label>
    <input type='text' class='form-control' ng-model='adresse.cp' id='cp' required />
  </div>
  <div class='form-group'>
    <label for='ville'>Ville: </label>
    <input type='text' class='form-control' ng-model='adresse.ville' id='ville' required />
  </div>
  <div class='form-group' ng-init="adresse.end='true'">
    <label for='travail'>Adresse de travail: </label><br />
    <input type="radio" name="travail" value="true" id="yes" ng-model='adresse.end' /> <label for="yes"> Oui </label>
    <input type="radio" name="travail" value="false" id="no" ng-model='adresse.end' /> <label for="no"> Non </label>
  </div>
  <input type='button' class='btn btn-default' ng-click='reset()' value='Reset' />
  <input type='submit' class='btn btn-default' ng-click='updateAd(adresse)' value='Save' />
</form>
