<div class="container">
  <div class="row main">
    <h1>Bonjour {{ contact.name }}</h1>
    <p>Rajouter changement d'adresse, changement KM de visisbilité, changement d'information ? </p>

    <div class="bar">
      <a class="btn btn-default" href="#/compte/loggout">se deconnecter</a>
    </div>

    <section>
		<h3 class="head">Modifier son compte </h3>
		<div class="form-group">
		<form class="form-horizontal" role="form" ng-submit="update(contact)">
      		<label for="form-name" class="col-sm-3 control-label">Your name</label>
      		<div class="col-sm-9">
        <input name="name" type="text" class="form-control" placeholder="Insert your name" id="form-name" ng-model="contact.name">
      </div>
      {{name}}
      </form>
    </div>

    </section>
  </div>
</div>
