<div class="container" ng-init="initAffichage()">
<div class="row">
  <div class="col-md-12">
      <h2>Membre du groupe : </h2>
    <div ng-repeat="personne in groupe.clients">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ personne.name }} {{ personne.lastname }} <br>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ personne.adresses[0].numero }} {{ personne.adresses[0].rue }} {{ personne.adresses[0].cp }} {{ personne.adresses[0].ville }} <br>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ personne.email }} <br>
      <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{ personne.phone }}
      <br><br>

    </div>
  </div>
</div>
  <div class="row">

<!--     <div id="bouton_groupe">
      <input type="button" id="btn_verrouiller" name="lock" value="Verrouiller" onclick=""/>
      <input type="button" id="btn_quitter" name="leave" value="Quitter le groupe" onclick=""/>
      <input type="button" id="btn_adherer" name="join" value="Adhérer au groupe" onclick=""/>
    </div> -->

<!--     <div class="col-md-6">
      <div id="conversation"><p><span id="mess_prec" ng-init="initChat()"></span></p></div>
     
      <form name="message" action="">
      <div id="message">
        <input name="usermsg" type="text" id="message" />
        <button id="envoyer" ng-click="chatbox()">Répondre</button>
       <!--</div>
     </form>-->

     <!--</div> -->

<!--     <div id="info_importante">
      <div class="legende_info">Informations importantes</div>
      <fieldset>
        <!--<legend class="legende_info"> Informations importantes </legend>-->
<!--
        <p>
          > <span class="membre">Personne X</span> a quitté le groupe.<br/>
          > <span class="membre">Personne Y</span> demande à intégrer le groupe : 
	    <input type="radio" name="integration" value="accepter" id="yes"/> <label for="yes"> Accepter </label>
	    <input type="radio" name="integration" value="refuser" id="no"/> <label for="no"> Refuser </label>
        </p>
      </fieldset>
    </div> -->

<!--     <div id="membres">
      <p>Photo des membres</p>
    </div> -->
      <div class="col-md-12">
        <div ng-init="initMapGroupe()" id="mapGroupe"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="mapTrace"></div>
      </div>
    </div>
</div>

