<div class="container">
  <div class="row main">
    <h1>Bienvenu sur le projet GeoCov</h1>
    <img src="images/logo.jpg" alt="logo" />
    <div class="bar">
      <p align="justify">Ce projet s’adresse, soit aux entreprises désireuses de mettre en place un covoiturage au sein 
	  de leur personnel, soit aux personnes souhaitant entrer en contact avec d’autres personnes travaillant 
	  dans la même entreprise ou dans une entreprise proche. <br />
	  <br />
	  <b>L’équipe de projet</b> est composée des personnes suivantes : Julie Guégnaud, Mariia Iermolenko, 
	  Yoann Le Taillanter, Léon Perrier et Jérémy Viallatte. <br />
	  <br />
	  <b>Durée du projet</b> : 3 mois <br />
	  <br />
	  <b>Besoin</b> : , <br />
	  etc ...</p>
    </div>
  </div>
</div>
