<section>
  <h3 class="head">Modifier mes données personnelles </h3>
  <form class="form-horizontal" role="form" ng-submit="update(contact)">
    <div class="form-group">
      <label for="form-name" class="col-sm-3 control-label">Prénom</label>
      <div class="col-sm-9">
        <input name="name" type="text" class="form-control" placeholder="Votre prénom" id="form-name" ng-model="contact.name">
      </div>
    </div>
    <div class="form-group">
      <label for="form-lastname" class="col-sm-3 control-label">Nom</label>
      <div class="col-sm-9">
        <input name="lastname" type="text" class="form-control" placeholder="Votre nom" id="form-lastname" ng-model="contact.lastname">
      </div>
    </div>
    <div class="form-group">
      <label for="form-email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input name="email" type="email" class="form-control" placeholder="Votre email" id="form-email" ng-model="contact.email">
      </div>
    </div>
    <div class="form-group">
      <label for="form-phone" class="col-sm-3 control-label">Téléphone</label>
      <div class="col-sm-9">
        <input name="phone" type="text" class="form-control" placeholder="Votre numéro de téléphone" id="form-phone" ng-model="contact.phone">
      </div>
    </div>
    <div class="form-group">
      <label for="form-passwd" class="col-sm-3 control-label">Mot de passe</label>
      <div class="col-sm-9">
        <input name="passwd" type="password" class="form-control" placeholder="Votre mot de passe" id="form-passwd" ng-model="contact.password">
      </div>
    </div>
    <div class="form-group">
      <label for="form-confpasswd" class="col-sm-3 control-label">Confirmation</label>
      <div class="col-sm-9">
        <input name="confpasswd" type="password" class="form-control" placeholder="Confirmer votre mot de passe" id="form-confpasswd" ng-model="contact.cpassword">
      </div>
    </div>
        <button class="btn btn-default pull-right" ng-click="reset()">Réinitialiser</button>
        <button type="submit" class="btn btn-success pull-right">Enregistrer</button>
  </form>
</section>
